@charset "UTF-8";
/* CSS Document */


#Overlay {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    opacity:0;
    background-color: white; 
    transition: opacity 1s ease-out;
    pointer-events: none;
    z-index: 100;
}

#New {
    position: absolute;
    top: 10%;
    left: 2%;
    font-size: 1.25em;
}

#Title {
    position: absolute;
    top:5%;
    left:0;
    width: 100%;
    text-align: center;
    transform: translate(0,-50%);
    font-size: 2em;
    font-weight: 500;
}

#choice {
    position: absolute;
    top:20%;
    left:0;
    height: 80%;
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    padding: 2%;
}

.Wrapper {
    display: grid;
    position:relative;
    height: 100%;
    width: 96%;
    grid-template-columns:calc(100% - 5vh) 5vh;
}

.DeleteButton {
    position: relative;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    background-color: red;
}