@import "./mixins";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --black: #2d2b46;
    --white: #ffffff;
    --grey: #e9ecef;
    --yellow: yellow;
    --workSans: 'Work Sans', sans-serif;
    --rubik: 'Rubik', sans-serif;
}

html {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-basis: 1px;
    flex-grow: 1;
    flex-direction: column;
    position: relative;
    margin: 0px;
    font-family: var(--workSans);
    color: var(--black);
    background-color: var(--grey);
    height: fit-content;

    @media (pointer:none), (pointer:coarse) {
        font-size: 0.75em;
    }

    style, script, link {
        display: none !important;
    }
}

* {
    margin: 0px;
    padding: 0px;
    // display: flex;
    flex-direction: column;
    position: relative;
    line-height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-basis: 1px;
    flex-grow: 1;
    height: fit-content;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--rubik);
}

button, input, select, option {
    border: none;
    outline: none;
    -webkit-appearance: none;
}