@import './mixins';

#root * {
    display: flex;
}

body {
    color: var(--black);
}

header {
    flex-direction: row;
    gap: 1em;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 4em);
    color: var(--black);
    background-color: var(--white);
    padding: 1.25em 2em;
    box-shadow: 0 0 0.3em 0 rgba(0, 0, 0, 0.1);

    h1 {
        font-weight: 400;
        font-size: 2.75em;
    }

    .Profile {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.5em;

        p {
            font-size: 1.75em;
        }
    
        img {
            height: 2.75em;
            width: auto;
            border-radius: 10em;
            margin-left: 1.5em;
        }
    
        a {
            border-radius: 0.5em;
            padding: 0.25em 0.5em;
            font-size: 1.4em;
            font-weight: 500;
            flex-direction: row;
            align-items: center;
            text-decoration: none;
            gap: 0.5em;
            color: inherit;
            transition: color 0.1s linear, background-color 0.1s linear, transform 0.1s linear;

            i {
                font-size: 1.3em;
                color: inherit;
            }

            &:hover, &:focus-visible {
                background-color: var(--yellow);
                transform: scale(1.05);
                cursor: pointer;
            }
        }
    }
}

main {
    width: fit-content;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-width: 20em;
    padding: 0 2em;
    
    .Title {
        flex-direction: row;
        flex-basis: 100%;
        align-items: center;
        border-bottom: 0.2em dashed var(--black);
        padding-bottom: 0.5em;

        h2 {
            font-weight: 400;
            font-size: 3em;
            width: fit-content;
            margin: 0 auto;
            transform: translateX(1.25em);
        }

        a {
            font-size: 1.3em;
            font-weight: 500;
            color: inherit;
            box-shadow: 0 0 0 0.1em;
            padding: 0.25em 1em;
            border-radius: 10em;
            text-decoration: none;
            height: fit-content;
            background-color: var(--white);
            transition: background-color 0.1s linear, transform 0.1s linear;

            &:hover, &:focus-visible {
                background-color: var(--yellow);
                transform: scale(1.05);
                cursor: pointer;
            }
        }
    }
    
    .Maps {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 1em 0;
        gap: 1em;

        .Map {
            flex-direction: row;
            padding: 0.1em 1em;
            border-radius: 0.25em;
            justify-content: space-between;
            align-items: center;
            flex-basis: 100%;
            gap: 0 2em;
            background-color: var(--white);

            a {
                color: var(--black);
                font-size: 1.4em;
                font-weight: 500;
                margin: 0.5em 0;
                padding: 0.2em 0.5em;
                border-radius: 0.25em;
                transition: 0.1s background-color linear, 0.1s transform linear;

                &:hover, &:focus-visible {
                    background-color: var(--yellow);
                    transform: scale(1.025);
                }
            }

            i {
                font-size: 1.5em;
                padding: 0.4em 0.5em;
                border-radius: 10em;
                transition: 0.1s linear background-color, 0.1s linear transform;

                &:hover, &:focus-visible {
                    background-color: var(--yellow);
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }
        }
    }

    * {
        display: flex;
    }
}